@use "variables" as v;
@use "mixins" as m;

.boton-rojo-block{
    @include m.boton(v.$rojo, block);
    transition: transform 0.5s ease,;
    &:hover{
        transform: scale(1.10);
    }
}

.boton-negro-block {
    @include m.boton(v.$negro, block);
    border: 1px solid v.$rojo;
    transition: transform 0.5s ease;
    &:hover{
        transform: scale(1.10);
    }
}

