$fuente-principal: ("Abril Fatface", serif);


$fuente-secundaria:("Work Sans", sans-serif);


// colores
$negro : #000000;
$rojo: #ed3535;
$rojo-oscuro  : #8f1c2a ;
$blanco: #ffffff;
$plomo: #161618;
$plomoClaro: #4a4a52;

$tablet:768px;
$telefono:412px;
$desktop: 1028px;